<div>
    <h3 style="color:white;text-align:center;">Carro</h3>
</div>
{% for producto in productos %}
    <div class="producto">
        <h3>{{producto.nombre}}</h3>
        <img src="{{producto.imagen.url}}" class="" alt="{{producto.titulo}}">
        <p class="p-precio">Precio: {{producto.precio}}</p>
        <p class="p-disp">Disponible: {{producto.disponibilidad|yesno:"Disponible,No disponible" }}</p>
        <p class="p-categoria">Categoria :&nbsp;&nbsp;<span class="s-categoria">{{producto.categorias}}</span> </p>
        <a href="#" class="btn-agregar">Agregar</a>
    </div>
{% endfor %}