asgiref==3.7.2
Brotli==1.1.0
cachetools==5.3.2
crispy-bootstrap4==2023.1
distlib==0.3.8
dj-database-url==2.1.0
Django==5.0.1
django-crispy-forms==2.1
django-environ==0.11.2
django-smtp-ssl==1.0
django-tailwind==3.8.0
filelock==3.13.1
google-auth==2.26.1
gunicorn==21.2.0
packaging==23.2
pillow==10.2.0
platformdirs==4.1.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
python-decouple==3.8
rsa==4.9
sqlparse==0.4.4
typing_extensions==4.9.0
tzdata==2023.3
virtualenv==20.25.0
whitenoise==6.6.0
