{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

    {% for post in posts %}
        <div class="container mt-4 mb-4">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 bg-light rounded">
                    <img 
                        src="{{post.imagen.url}}" 
                        alt="{{post.titulo}}" 
                        class="card-img-top 
                               text-center 
                               justify-content-center 
                               align-items-center
                               mt-4
                               "
                        style="width:30rem;"
                    />
                    <h2 class="mt-2 text-center">{{post.titulo}}</h2>
                    <p>{{post.contenido}}</p>
                    <p><strong>Autor: {{post.autor}}</strong></p>
                </div>                
            </div>
        </div>
    {% endfor %}

    <section style="margin-top:50px">
        <div style="width:75%; margin:0 auto;text-align:center;color:white;">
            Categorías: {{categorias}}
        </div>
    </section>

{% endblock %}